

body{
  font-family: Ff Meta Web Pro 1;
  font-size:10pt;
}

img{width:auto}

.navigation{
  width: 100%;
  background-color: white;
  position: fixed;
  margin-left: 20%;
}

nav ul li{
  display: inline;
  list-style-type: none;
  margin: 6%;
  font-size: 15pt;
  font-variant: small-caps;

}

.logo_foto{
  vertical-align: middle;
  background-color: green;
}

.logo{
  display: table;
  display: table-cell;
  width:10%;
  height:10%;
  background-color: red;
  margin-left: 5%;
  float:left;
  vertical-align: middle;
  position: fixed;

}

.foto{
  margin-left:20%;
  width:auto;
  height:650px;
  background:url(../images/Foto) no-repeat center center;
  background-size:cover;

}

.text{
  padding: 5%;
  width:20%;
  height:300px;
  float:left;
  margin-right:5%;
}

.text + .last{
  margin-right:0;
}

.impressum{
  clear:both;
  background-color: green;
}

div{}
