

body{
  font-family: Verdana;
  font-size:10pt;
}

img{width:450px}

.name{
  background-color:black;
  color: white;
}

.logo{
  background-color: red;
}

.Foto{
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  width: 1100px;
  background-color:purple;
}

.text1{
  background-color: blue;
}

.text2{
  background-color: orange;
}

.text3{
  background-color: yellow;
}

.info{
  background-color: green;
}

div{}
