

body{
  font-family: Verdana;
  font-size:10pt;
}

img{width:auto}

.name{
  background-color:black;
  color: white;
  margin-left: 200px;
}

.logo{
  background-color: red;
  width:150px;
  height:150px;
  margin-left: 25px;
}

.foto{
  text-align:auto;
  margin-right:auto;
  margin-left:200px;
  width:auto;
}

.text{
  padding: 5%;
  width:20%;
  height:300px;
  float:left;
  margin-right:5%;
}

.text + .last{
  margin-right:0;
}

.impressum{
  clear:both;
  background-color: green;
}

div{}
